:root {
    --tg-theme-bg-color: #ffffff;
    --tg-theme-section-bg-color: #ffffff;
    --tg-theme-secondary-bg-color: #f1f1f3;
    --tg-theme-text-color: #1a1d21;
    --tg-theme-hint-color: #a8a8a8;
    --tg-theme-link-color: #2678b6;
    --tg-theme-button-color: #229af0;
    --tg-theme-button-text-color: #ffffff;
    --tg-theme-header-bg-color: #ffffff;
    --tg-theme-accent-text-color: #1c93e3;
    --tg-theme-section-header-text-color: #298acf;
    --tg-theme-subtitle-text-color: #82868a;
    --tg-theme-destructive-text-color: #cc2929;
    --tg-theme-section-separator-color: #d9d9d9;
    --tg-theme-bottom-bar-bg-color: #f1f1f3;
    --tg-theme-profile-block-bg-color: var(--tg-theme-section-header-text-color);

    --bg-one: #99BF8D;
    --bg-two: #BDC985;
    --bg-three: #84B28D;

    --first-gradient: linear-gradient(135deg, 
        color-mix(in srgb, var(--bg-one) 54%, transparent) 0%, 
        color-mix(in srgb, var(--bg-two) 54%, transparent) 50%, 
        color-mix(in srgb, var(--bg-three) 54%, transparent) 100%
    );
    --main-gradient: linear-gradient(135deg, var(--bg-one) 0%, var(--bg-two) 50%, var(--bg-three) 100%);
    --blend-mode: normal, soft-light;
}
@media (prefers-color-scheme: dark) {
    :root {
        --tg-theme-bg-color: #342c28;
        --tg-theme-section-bg-color: #2d2623;
        --tg-theme-secondary-bg-color: #221c1a;
        --tg-theme-text-color: #ffffff;
        --tg-theme-hint-color: #928783;
        --tg-theme-link-color: #c39386;
        --tg-theme-button-color: #ce836f;
        --tg-theme-button-text-color: #ffffff;
        --tg-theme-header-bg-color: #332d29;
        --tg-theme-accent-text-color: #cf9c8e;
        --tg-theme-section-header-text-color: #dbab9d;
        --tg-theme-subtitle-text-color: #8b8381;
        --tg-theme-destructive-text-color: #ee686f;
        --tg-theme-section-separator-color: #151210;
        --tg-theme-bottom-bar-bg-color: #221c1a;
        --tg-theme-profile-block-bg-color: var(--tg-theme-header-bg-color);

        --bg-one: #172431;
        --bg-two: #0E141A;
        --bg-three: #0F171E;

        --rainbow-one: #ff416c;
        --rainbow-two: #8a2387;
        --rainbow-three: #3a7bd5;

        --first-gradient: linear-gradient(135deg, 
            color-mix(in srgb, var(--rainbow-one) 30%, transparent) 0%, 
            color-mix(in srgb, var(--rainbow-two) 30%, transparent) 50%, 
            color-mix(in srgb, var(--rainbow-three) 30%, transparent) 100%
        );
        --main-gradient: linear-gradient(135deg, var(--bg-one) 0%, var(--bg-two) 50%, var(--bg-three) 100%);
        --blend-mode: exclusion, normal; 
    }
}
.label {
    color: var(--tg-theme-text-color);
    cursor: default;
}
.secondary_bg {
    background-color: var(--tg-theme-secondary-bg-color);
}
.defult_bg {
    background-color: var(--tg-theme-bg-color);
}
.white {
    color: #ffffff;
    cursor: default;
}
.subname {
    color: #ffffff9d;
    cursor: default;
}
.active {
    color: var(--tg-theme-button-color);
    cursor: default;
}
.title {
    color: var(--tg-theme-accent-text-color);
    cursor: default;
    padding-top: 15px;
    padding-bottom: 5px;
    width: 100%;
}
.second-title {
    padding-top: 15px;
    padding-bottom: 5px;
    display: block;
    text-decoration: none;
    color: var(--tg-theme-accent-text-color);
    cursor: pointer;
}
.label-active {
    color: var(--tg-theme-accent-text-color);
    cursor: default;
    text-decoration: none;
}
.label-hint {
    color: var(--tg-theme-subtitle-text-color);
    cursor: default;
}
.label-destructive {
    color: var(--tg-theme-destructive-text-color);
    cursor: default;
}
.subtitle {
    margin-top: 1px;
    color: var(--tg-theme-subtitle-text-color);
    cursor: default;
}