section {
    width: calc(100% - 2*(var(--margin)));
    margin-left: var(--margin);
    margin-right: var(--margin);
    border-radius: calc(var(--radius) - 5px);
    background-color: var(--tg-theme-section-bg-color);
    overflow: hidden;
    isolation: isolate; 
}
section.bottom {
    margin-bottom: var(--margin);
}
section.top {
    margin-top: var(--margin);
}